.body {
    background-color: #fffbf0;
}

/* --------------------------------------------- background propreties ------------------------------------ */

#product-overview {
    background: linear-gradient(to top, rgba(80,68,18,0.6) 10%,transparent) ,url("images/freedom.jpg") center/cover no-repeat border-box,#ff1b68;
    /* background-image: url("freedom.jpg");
    background-size: cover ;
    background-position: left 10% bottom 20%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip:border-box ; */
    /* border: dashed red; */
    /* background-image: linear-gradient(to bottom right /180deg, blue,yellow,orange); */
    /* background-image: radial-gradient(circle 100px at 30% 50%,blue,purple,white); */
    width: 100vw;
    height: 33vh;
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton',sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
    #product-overview {
        height:40vh ;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}

/* ---------------------------------------------- plans section ---------------------------------------- */


.section-title {
    color: #943d24;
    text-align: center;
}

/* .plan__list {
    width: 100%;
    /* margin: auto;*/ 
    /* text-align: center; 
} */

.plan {
    background: white;
    text-align: center; /* define the inline text to the center */
    padding: 1rem;
    margin: 0.5rem 0;
    /* display: inline-block; the display of the content is a inline block */
    width: 100%;
    /* vertical-align: middle; */
}


.plan--highlighted {
    background: #943d24 ;
    color: white;
    /* box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5); */
}

.plan__annotation {
    background: white;
    color: #943d24;
    padding: 0.5rem;
    box-shadow:2px 2px 2px 2px  rgba(0,0,0,0.5) ;
    border-radius: 8px;
}

.plan__title {
    color:#2d2d2d ;
}

.plan__price {
    color: #6b6b6b;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color:#222324; 
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* .plan__features li {
    margin: 8px;
}
using combinator */

.plan__feature {
    margin: 0.5rem 0;
}

@media (min-width: 40rem) {
    .plan__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .plan {
        width: 30%;
        min-width: 13rem;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28rem;
    }
    
    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
        height: 30rem;
        z-index: 50;
    }
}    

/* ---------------------------------------------- key-features section ---------------------------------------- */


#key-features {
    background: #ef9273;
    margin-top: 5rem;
    padding: 1rem;
    
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

.key-feature {
    /* display: inline-block; */
    width: 100%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.25rem;
 }

.key-feature__description {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

@media (min-width: 40rem) {
    .key-feature {
        width: 30%;
        max-width: 25rem;
    }

    .key-feature__list {
        display: flex;
        justify-content: center;
    }
}

/* ---------------------------------------------- modal JS css propreties ---------------------------------------- */

.modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 0.2s ease-out, transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }
